h1 {
  margin-top: 0;
}

.contenedorCarrito {
  display: flex;
  justify-content: center;
  width: 75vw;
  flex-direction: column;
  margin-top: 2rem;
}

.contenedorCarritoProductos {
  margin-bottom: 1.5rem;
}

.titulosCarrito {
  background-color: #661D58;
  color: #fafafa;
}

.contenedorCarritoProductos tr {
  border: lightgray 1px solid;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
}

.contenedorCarritoProductos tr td,
.contenedorCarritoProductos tr th {
  text-align: center;
  padding: 10px;
}

.contenedorCarritoProductos tr td h2,
.contenedorCarritoProductos tr th h2 {
  font-size: 1.3rem;
}

.contenedorCarritoProductos tr td h3,
.contenedorCarritoProductos tr th h3 {
  font-size: 1.1rem;
}

.contenedorCarritoProductos tr td button,
.contenedorCarritoProductos tr th button {
  background-color: #661D58;
  color: #fafafa;
  padding: 10px;
  border: #661D58 solid 1px;
  transition: all 0.3s;
  width: 2rem;
  height: 2rem;
  border: lightgray 1px solid;
  padding: 1px;
}

.contenedorCarritoProductos tr td button:hover,
.contenedorCarritoProductos tr th button:hover {
  background-color: #9C4A8C;
  color: #fafafa;
  border: none;
}

.contenedorCarritoProductos tr td .btnCarritoX,
.contenedorCarritoProductos tr th .btnCarritoX {
  border-radius: 8px;
}

.contenedorCarritoProductos tr .celdaProducto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contenedorCarritoProductos tr .celdaProducto .imgCarrito {
  width: 120px;
  height: 100px;
}

.contenedorCarritoProductos tr .celdaProducto h3 {
  color: #FC6736;
  font-weight: bold;
}

.contenedorCarritoProductos tr .celdaCantidad div {
  display: flex;
  justify-content: center;
}

.contenedorCarritoProductos tr .celdaCantidad div h3 {
  background-color: white;
  border: lightgray 1px solid;
  padding: 5px 15px;
  height: 2rem;
}

.contenedorCarritoProductos tr .celdaCantidad div .btnCarritoIzq {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.contenedorCarritoProductos tr .celdaCantidad div .btnCarritoDer {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contenedorCarritoProductos .celdaTotal {
  background-color: lightgray;
}

.contenedorCarrito .contenedorCarritoProductos .celdaTotal h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.contenedorBtnVaciarYFinalizar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.contenedorBtnVaciarYFinalizar button {
  background-color: #661D58;
  color: #fafafa;
  padding: 10px;
  border: #661D58 solid 1px;
  transition: all 0.3s;
  font-size: 1.3rem;
  border-radius: 15px;
  padding: 10px 15px;
}

.contenedorBtnVaciarYFinalizar button:hover {
  background-color: #9C4A8C;
  color: #fafafa;
}

.carritoVacio {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 15rem;
}

.carritoVacio h2 {
  font-size: 1.8rem;
}

.carritoVacio a button {
  background-color: #661D58;
  color: #fafafa;
  padding: 10px;
  border: none;
  transition: all 0.3s;
  font-size: 1.4rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.contenedorOrdenCompleta {
  margin: 5rem;
  margin-bottom: 15rem;
}

.contenedorOrdenCompleta h2 {
  color: #661D58;
  font-weight: bolder;
  font-size: 2.3rem;
}

.contenedorOrdenCompleta p {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .contenedorCarrito {
    width: 80vw;
  }

  .contenedorCarrito .contenedorCarritoProductos tr .celdaCantidad h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaProducto h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaPrecio h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaSubtotal h3 {
    font-size: 1.1rem;
  }

  .contenedorCarrito .contenedorCarritoProductos tr .celdaProducto .imgCarrito {
    width: 100px;
    height: 80px;
  }

  .contenedorCarrito .contenedorCarritoProductos .titulosCarrito th h2 {
    font-size: 1.3rem;
  }

  .contenedorCarrito .contenedorCarritoProductos tfoot .celdaTotal td h3 {
    font-size: 1.3rem;
  }
}


@media (max-width: 768px) {
  .celdaProducto .imgCarrito {
    display: none;
  }
}

@media (max-width: 600px) {
  .contenedorCarrito {
    width: 85vw;
  }

  .contenedorCarrito .contenedorCarritoProductos tr .celdaCantidad h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaProducto h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaPrecio h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaSubtotal h3 {
    font-size: 0.9rem;
  }

  .contenedorCarrito .contenedorCarritoProductos tr .btnCarritoX {
    width: 1.8rem;
    height: 1.8rem;
  }

  .contenedorCarrito .contenedorCarritoProductos .titulosCarrito th h2 {
    font-size: 1.1rem;
  }


  .contenedorCarrito .contenedorCarritoProductos tfoot .celdaTotal td h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .contenedorCarrito {
    width: 95vw;
  }

  .contenedorCarrito .contenedorCarritoProductos {
    font-size: 80%;
  }

  .contenedorCarrito .contenedorCarritoProductos tr td,
  .contenedorCarrito .contenedorCarritoProductos tr th {
    padding: 5px;
  }

  .contenedorCarrito .contenedorCarritoProductos tr .celdaCantidad h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaProducto h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaPrecio h3,
  .contenedorCarrito .contenedorCarritoProductos tr .celdaSubtotal h3 {
    font-size: 0.7rem;
  }

  .contenedorCarrito .contenedorCarritoProductos tr .btnCarritoX {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 5px;
  }

  .contenedorCarrito .contenedorCarritoProductos .titulosCarrito th h2 {
    font-size: 0.9rem;
  }

  .contenedorCarrito .contenedorBtnVaciarYFinalizar button {
    font-size: 1rem;
    padding: 7px 12px;
  }

  .contenedorCarrito .contenedorCarritoProductos tfoot .celdaTotal td h3 {
    font-size: 0.9rem;
  }
}