.contenedorImagenTitulo {
    margin: 3rem 4rem;
    display: flex;
    justify-content: space-between;
}

.contenedorImagenTitulo img {
    width: 30rem;
    height: 28rem;
    margin-right: 1.8rem;
    margin-top: 1rem;
}

.contenedorImagenTitulo div {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

.contenedorImagenTitulo div h1 {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 10px;
    color: black;
}

.contenedorImagenTitulo div h2 {
    font-size: 1.7rem;
    color: #661D58;
    margin-bottom: 1px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contenedorImagenTitulo div h2 span {
    font-weight: normal;
    text-decoration: line-through;
    opacity: 75%;
}

.contenedorImagenTitulo div p {
    font-size: 1rem;
    line-height: 2.2;
}

.contenedorImagenTitulo div p span {
    font-weight: bold;
}

.contenedorInfo {
    margin: 4rem;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 1.1rem;
    color: black;
    opacity: 75%;
    text-align: justify;
    line-height: 1.7;
}

.btnIrAlCarrito {
    width: 250px;
    height: 50px;
    background-color: #661D58;
    border-radius: 8px;
    border: none;
    margin: 0;
    transition: all 0.3s;
}

.btnIrAlCarrito a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1.3rem;
}

.btnIrAlCarrito:hover {
    background-color: #9C4A8C;
}

.productoNoEncontrado {
    margin-top: 5rem;
    margin-left: 8rem;
    margin-bottom: 15rem;
}

.productoNoEncontrado h2 {
    font-size: 1.8rem;
}

.productoNoEncontrado a button {
    background-color: #661D58;
    color: #fafafa;
    padding: 10px;
    border: none;
    transition: all 0.3s;
    font-size: 1.4rem;
    border-radius: 8px;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .contenedorImagenTitulo {
        display: flex;
        /* Cambia inline-flex a flex */
        flex-direction: column;
        margin: 2rem 4rem;
    }

    .contenedorImagenTitulo div {
        width: 100%;
    }

    .contenedorImagenTitulo div button,
    .contenedorImagenTitulo div p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    img {
        align-self: center;
    }
}